{% extends "app/base.html" %}

<!--  block content 
    <p>Topics</p>

    <ul>
    	{% for topic in topics %}
    	<li>
    		<a href="{% url 'app:topic' topic.id %}">{{ topic }}</a>
    	</li>
    	{% empty %}
    	<li>No topics have been added yet</li>
    	{% endfor %}
    </ul>
endblock -->

{% block header %}
    <h1>Topics</h1>
{% endblock header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <li>
                <h3>
                    <a href="{% url 'app:topic' topic.id %}">{{topic.text|capfirst}}</a>
                </h3>
            </li>
        {% empty %}
        <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <h3><a href="{% url 'app:new_topic' %}">Add new topic</a></h3>

{% endblock content %}